/*-----------------------------*/
/*-----CLASSES AUXILIARES------*/
/*-----------------------------*/

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{
    clear: both;
}

.selected{
    position: relative;
    color: rgba(0, 0, 0, 0.14);
}

.selected > span{
    position: absolute;
    width: 15px;
    height: 3px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.14);
}

.color-blue-ligth{
    color: #37766c;
}

.w100{
    width: 100%;
}

.text-center{
    text-align: center;
}

.padding-60-0{
    padding: 60px 0;
}
